#add fieldset {
  all: unset;
  background: var(--container-background);
  max-width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
#add legend {
  visibility: hidden;
}
#add input,
#add textarea {
  font-family: inherit;
  appearance: none;
  border-radius: 5px;
}
.submit {
  all: unset;
  text-align: center;
  font-size: 0.8rem;
  background-color: var(--button-color);
  box-shadow: var(--boxshadow-color);
  border-radius: 15px;
  width: 50%;
  margin: 2rem;
  padding: 1rem;
  transition: background-color 0.5s, font-size 1s ease-out;
  font-family: "Noto Sans Display", sans-serif;
  appearance: none;
}
