.profilbild,
.skills {
  background: var(--container-background);
  padding: 15px;
  margin: 1.5rem;
  box-shadow: var(--boxshadow-color);
  border-radius: 1rem;
}
.profilbild {
  display: flex;
  max-width: 100%;
  gap: 1rem;
  position: relative;
  margin-bottom: 8rem;
}
.profilbild img {
  border-radius: 50%;
  width: 50%;
}
.profilbild h3 {
  align-self: center;
}
@media screen and (min-width: 400px) {
  .profilbild {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
  }
  .profilbild img {
    max-width: 100%;
    width: 25%;
  }
  .profilbild h3 {
    font-size: 2rem;
  }
}
.profilbild:before {
  content: '"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut"';
  font-style: italic;
  background: var(--container-background);
  position: absolute;
  bottom: -8.5rem;
  right: -2rem;
  width: 100%;
  padding: 1.75rem;
  border: 1px dotted var(--main-color);
  border-radius: 1rem;
  
}
.skills {
  display: flex;
  flex-direction: column;
}
.skills h3 {
  text-align: center;
}
.skills ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  padding: 0;
}
.skills li {
  position: relative;
  border: 1px solid var(--body-background-color);
}
.skills li:before {
  content: "😉";
  position: absolute;
  right: 1rem;
  bottom: 0.01rem;
}
