.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(191, 219, 245);
  color: black;
  border: 1px solid var(--body-background);
  border-radius: 5px;
  max-width: 80%;
  margin: 1.5rem auto;
  padding: 2rem;
  position: relative;
}
@media screen and (min-width: 400px) {
  .question {
    max-width: 50%;
  }
}
.bookmark-icon {
  position: absolute;
  left: 60vw;
  top: -3vh;
  animation: bounce 2s;
  transform-origin: center bottom;
  color: black;
  background-image: url("/images/bookmark_add_black_48dp.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 10vw;
  height: 7vh;
}
.bookmark-icon-color {
  position: absolute;
  left: 60vw;
  top: -3vh;
  font-size: 1.75rem;
  animation: bounce 2s;
  transform-origin: center bottom;
  color: black;
  background-image: url("/images/bookmark_black_48dp.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 10vw;
  height: 7vh;
}

@media screen and (min-width: 400px) {
  .bookmark-icon {
    position: absolute;
    left: 40vw;
    top: -3vh;
    font-size: 2.5rem;
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
.question p {
  font-size: 1rem;
  align-self: flex-start;
}
.answer {
  margin: 2rem;
}
.question ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 0.6rem;
  gap: 1.5rem;
  width: 75%;
  padding: 0;
}
.question li {
  border: 2px solid var(--body-background);
  padding: 0.5rem;
}
