@import "buttons&effects.css";
@import "token-dark-light.css";
@import "question.css";
@import "add.css";
@import "profil.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: var(--body-color);
  font-size: 18px;
  font-family: sans-serif;
  background: var(--body-background);
}
/*header*/
header {
  background: var(--fixed-background);
  width: 100%;
  min-height: 15vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header h1 {
  padding: 0.1rem;
  font-size: 1.5rem;
  letter-spacing: 5px;
  border: 2px solid;
  border-radius: 10px;
  width: 50%;
  margin: 2vh auto;
  position: relative;
}
/*sections and distance*/
section {
  color: var(--main-color);
}
.distance-header {
  height: 20vh;
}
.distance-nav {
  height: 14vh;
}
/*click events*/
.page {
  display: none;
}
.page.current {
  display: block;
}
.answer {
  display: none;
}
.answer.show {
  display: block;
}
/*navbar*/
nav {
  background: var(--fixed-background);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 15vw;
  justify-content: center;
  align-items: center;
}
nav li {
  font-size: 1rem;
  width: 100%;
}
nav li :active {
  color: var(--active-color);
}
