:root {
  --fixed-background: rgb(5, 101, 180);
  --body-color: white;
  --body-background: rgb(166, 200, 223);
  --a-color: white;
  --a-background: rgb(191, 219, 245);
  --hover-color: rgb(119, 194, 255);
  --active-color: black;
  --focus-color: black;
  --main-color: rgba(100, 99, 99, 0.979);
  --container-background: rgb(191, 219, 245);
  --button-color: rgb(166, 200, 223);
  --boxshadow-color: rgb(166, 200, 223);
}
@media (prefers-color-scheme: dark) {
  * {
    --fixed-background: rgb(125, 174, 214);
    --body-color: black;
    --body-background-color: rgb(166, 200, 223);
    --a-color: black;
    --a-background: rgb(191, 219, 245);
    --hover-color: rgb(119, 194, 255);
    --active-color: white;
    --focus-color: white;
    --main-color: rgba(100, 99, 99, 0.979);
    --container-background: rgb(191, 219, 245);
    --button-color: rgb(166, 200, 223);
    --boxshadow-color: rgb(166, 200, 223);
  }
}
