body{
    color: white;
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
}
a{
    color: white;
}
/*header*/
header{
    background-color: limegreen;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 5px;
    text-align: center;
}
header h1{
    padding: 5px ; 
    font-size: 2.5rem;
}
/*section*/
section{
    color: black;
}
/*navbar*/
nav{
    background-color: limegreen;
    position: fixed;
    width: 100%;
    border-radius: 5px;
    left: 0;
    bottom: 0;
    text-align: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 80%;
}
nav li{
    flex-grow: 1;
    font-size: 2rem;
    width: 100%;
}
nav li :hover{
    color: yellow;
}