body {
  color: white;
  font-size: 18px;
  font-family: "Fredoka One", cursive;
  background-color: rgba(252, 245, 110, 0.11)
}
a {
  color: white;
}
/*header*/
header {
  background-color: limegreen;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}
header h1 {
  padding: 5px;
  font-size: 2.5rem;
  letter-spacing: 5px;
}
/*abstand header*/
.pseudo {
    height: 130px;
}

/*question-section*/
main {
  color: black;
  padding: 15px;
}
.question {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    font-family: 'roboto', sans-serif;
    box-shadow: rgba(252, 245, 110, 0.11);
    margin: 30px 0;
    padding: 15px;

}
#bookmark{
  transform: translate(280px, -20px);
  font-size: 1.75rem;
}
.question button{
    background-color: rgba(252, 245, 110, 0.11);
    box-shadow: white;
    border-radius: 5px;
    margin: auto;
    font-size: 2.rem;
}
.question ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 15px;
    width: 75%;
}
.question li{
    border: 1px solid black;
    padding: 10px;
}
/*navbar*/
nav {
  background-color: limegreen;
  position: fixed;
  width: 100%;
  border-radius: 5px;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 5px;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 80%;
}
@media screen and (min-width: 400px) {
  nav ul {
    width: 93%;
  }
  nav li {
    font-size: 3rem;
  }
}
nav li {
  flex-grow: 1;
  font-size: 2rem;
  width: 100%;
}
nav li :hover {
  color: yellow;
}
